<!-- end:: Subheader -->										<!-- begin:: Content -->
<link rel="stylesheet" href="/assets/css/invoice-v1.css">
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
											
<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">Invoice</h3>

        <span class="kt-subheader__separator kt-hidden"></span>
        <div class="kt-subheader__breadcrumbs">
            <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Gift Code Store
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Cart 
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Invoice    
                </a>
        </div>
                
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <a href="#" class="btn btn-sm btn-elevate btn-brand btn-elevate">
                <i class="flaticon-download"></i> Download My Invoice
            </a>
              
        </div>
    </div>
</div>

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
	<div class="col-xl-12">
		<!--begin::Portlet-->
		<div class="kt-portlet">
			<div class="kt-invoice-v1">
				<div class="kt-invoice-v1__header">
					<h1 class="kt-invoice-v1__title">INVOICE</h1>
					<div class="kt-invoice-v1__brand">
						<div class="kt-invoice-v1__logo">
							<img src="/assets/media/misc/invoice1-logo.png" class="kt-invoice-v1__logoimage" title="Invoice" alt="Invoice"/>
						</div>
						<div class="kt-invoice-v1__company-info">
							Cecilia Chapman, 711-2880 Nulla St., Mankato<br/>
							Mississippi 96522
						</div>
					</div>
					<div class="kt-invoice-v1__details">
						<div class="kt-invoice-v1__details-left">
							<div class="kt-invoice-v1__details-label">INVOICE TO:</div>
							<div class="kt-invoice-v1__details-value">
								Iris Watson, P.O. Box 283 8562 Fusce Rd.<br/>
								Frederick Nebraska 20620
							</div>
						</div>
						<div class="kt-invoice-v1__details-right">
							<div class="kt-invoice-v1__details-date">
								<div class="kt-invoice-v1__details-label">DATE:</div>
								<div class="kt-invoice-v1__details-value">Dec 12, 2018</div>
							</div>
							<div class="kt-invoice-v1__details-invoiceno">
								<div class="kt-invoice-v1__details-label">INVOICE NO:</div>
								<div class="kt-invoice-v1__details-value">GS000014</div>
							</div>
						</div>
					</div>
				</div>
				<div class="kt-invoice-v1__body">
					<div class="table-responsive">
						<table class="kt-invoice-v1__summary">
							<thead class="kt-invoice-v1__summary-header">
								<tr>
									<td>DESCRIPTION</td>
									<td>HOURS</td>
									<td>RATE</td>
									<td>AMOUNT</td>
								</tr>
							</thead>
							<tbody class="kt-invoice-v1__summary-body">
								<tr>
									<td>Creative Design</td>
									<td>80</td>
									<td>$40.00</td>
									<td>$3200.00</td>
								</tr>
								<tr>
									<td>Front-End Development</td>
									<td>120</td>
									<td>$40.00</td>
									<td>$4800.00</td>
								</tr>
								<tr>
									<td>Back-end Development</td>
									<td>210</td>
									<td>$60.00</td>
									<td>$12600.00</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="kt-invoice-v1__payment">
						<div class="kt-invoice-v1__payment-left">
							<div class="kt-invoice-v1__payment-title">BANK TRANSFER</div>
							<div class="kt-invoice-v1__payment-account">
								<div class="kt-invoice-v1__payment-label">Account Name:</div>
								<div class="kt-invoice-v1__payment-value">Barclays UK</div>
							</div>
							<div class="kt-invoice-v1__payment-account">
								<div class="kt-invoice-v1__payment-label">Account Number:</div>
								<div class="kt-invoice-v1__payment-value">1234567890934</div>
							</div>
							<div class="kt-invoice-v1__payment-account">
								<div class="kt-invoice-v1__payment-label">Code:</div>
								<div class="kt-invoice-v1__payment-value">BARC0032UK</div>
							</div>
						</div>
						<div class="kt-invoice-v1__payment-right">
							<div class="kt-invoice-v1__payment-title">TOTAL AMOUNT</div>
							<div class="kt-invoice-v1__payment-total">$20,600.00</div>
							<div class="kt-invoice-v1__payment-tax">Taxes included</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end::Portlet-->
	</div>
</div></div>
<!-- end:: Content -->