<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid__item   kt-grid__item--fluid kt-grid  kt-grid kt-grid--hor kt-login-v2" id="kt_login_v2">
        <!--begin::Item-->
        <div class="kt-grid__item  kt-grid--hor">
            <!--begin::Heade-->
            <div class="kt-login-v2__head">
                <div class="kt-login-v2__logo">
                    <a href="#">
                        <img src="assets_auth/media/logos/logo-5.png" alt="" />
                    </a>
                </div>
                <div class="kt-login-v2__signup">
                    <span>Don't have an account?</span>
                    <a href="/signin" class="kt-link kt-font-brand">Sign Up</a>
                </div>
            </div>
            <!--begin::Head-->
        </div>
        <!--end::Item-->

        <!--begin::Item-->
        <div class="kt-grid__item  kt-grid  kt-grid--ver  kt-grid__item--fluid">
            <!--begin::Body-->
            <div class="kt-login-v2__body">
                <!--begin::Wrapper-->
                <div class="kt-login-v2__wrapper">
                    <div class="kt-login-v2__container kt_register_box">
                        <div class="kt-login-v2__title">
                            <h3>Create an Account</h3>
                        </div>

                        <!--begin::Form-->
                        <form class="form-row kt-login-v2__form kt-form" action="" autocomplete="off" id="signup">
                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" placeholder="Firstname" name="firstname"
                                    autocomplete="off" id="firstname">
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" placeholder="Lastname" name="lastname"
                                    autocomplete="off" id="lastname">
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control" type="email" placeholder="Email" name="email"
                                    autocomplete="off" id="email">
                            </div>
                            <div class="input-group col-md-6">
                                <div class="input-group-prepend">
                                    <select class="borderless custom-select mr-2" id="inputGroupSelect01">
                                        <option value="1">+1</option>
                                        <option value="2">+234</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <input class="form-control" type="text" placeholder="81 000 333" name="phone"
                                    autocomplete="off" id="phone">
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" placeholder="Address" name="address"
                                    autocomplete="off" id="address">
                            </div>
                            <div class="form-group col-md-3">
                                <input class="form-control" type="text" placeholder="City" name="city"
                                    autocomplete="off" id="city">
                            </div>
                            <div class="form-group col-md-3">
                                <input class="form-control" type="text" placeholder="Country" name="country"
                                    autocomplete="off" id="country">
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control" type="password" placeholder="Password" name="password"
                                    autocomplete="off" id="password">
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control" type="password" placeholder="Confirm Password"
                                    name="confirm_password" autocomplete="off" id="confirm_password">
                            </div>
                            <!--begin::Action-->
                            <div class="kt-login-v2__actions">
                                <a href="#" class="kt-link kt-link--brand">
                                    Forgot Password ?
                                </a>
                                <button type="submit" class="btn btn-brand btn-elevate btn-pill">Sign In</button>
                            </div>
                            <!--end::Action-->
                        </form>
                        <!--end::Form-->

                        <!--begin::Separator-->
                        {{!-- <div class="kt-separator kt-separator--space-lg  kt-separator--border-solid"></div> --}}
                        <!--end::Separator-->

                        <!--begin::Options-->
                        {{!-- <h3 class="kt-login-v2__desc">Or</h3> --}}

                        {{!-- <div class="kt-login-v2__options">
                            <a href="#" class="btn btn-facebook btn-pill">
                                <i class="fab fa-facebook-f"></i>
                                Facebook
                            </a>
                            <a href="#" class="btn btn-twitter btn-pill">
                                <i class="fab fa-twitter"></i>
                                Twitter
                            </a>
                            <a href="#" class="btn btn-google btn-pill">
                                <i class="fab fa-google"></i>
                                Google
                            </a>
                        </div>  --}}
                        <!--end::Options-->
                    </div>
                </div>
                <!--end::Wrapper-->
            </div>
            <!--begin::Body-->
        </div>
        <!--end::Item-->

        <!--begin::Item-->
        <div class="kt-grid__item">
            <div class="kt-login-v2__footer">
                <div class="kt-login-v2__link">
                    <a href="#" class="kt-link kt-font-brand">Privacy</a>
                    <a href="#" class="kt-link kt-font-brand">Legal</a>
                    <a href="#" class="kt-link kt-font-brand">Contact</a>
                </div>

                <div class="kt-login-v2__info">
                    <a href="#" class="kt-link">&copy; 2019 CashGiftCode</a>
                </div>
            </div>
        </div>
        <!--end::Item-->
    </div>
</div>
<!-- end:: Page -->