<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

	<!-- begin:: Subheader -->
	<div class="kt-subheader   kt-grid__item" id="kt_subheader">
		<div class="kt-subheader__main">
			<h3 class="kt-subheader__title">Dashboard</h3>

			<span class="kt-subheader__separator kt-hidden"></span>
			<div class="kt-subheader__breadcrumbs">
				<a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
				<span class="kt-subheader__breadcrumbs-separator"></span>
				<a href="" class="kt-subheader__breadcrumbs-link">
					Dashboards </a>
				<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
			</div>

		</div>
	</div>

	<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
		<!--begin::Dashboard 1-->
		<!--begin::Row-->
		<div class="row">
			<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--height-fluid">
					<div class="kt-portlet__head  kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">Local Exchange Rate</h3>
						</div>
						<div class="kt-portlet__head-toolbar">
							<div class="kt-portlet__head-toolbar-wrapper">

							</div>
						</div>
					</div>
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-20">
							<div class="kt-widget-20__title">
								<div class="kt-widget-20__label"><small>#</small>360</div>
								<img class="kt-widget-20__bg" src="assets/media/misc/iconbox_bg.png" alt="bg">
							</div>
							<div class="kt-widget-20__data">
								<div class="kt-widget-20__chart">
									<div class="chartjs-size-monitor">
										<div class="chartjs-size-monitor-expand">
											<div class=""></div>
										</div>
										<div class="chartjs-size-monitor-shrink">
											<div class=""></div>
										</div>
									</div>
									<!--Doc: For the chart initialization refer to "widgetTotalOrdersChart" function in "src\theme\app\scripts\custom\dashboard.js" -->
									<canvas id="kt_widget_total_orders_chart" width="220" height="110"
										class="chartjs-render-monitor"
										style="display: block; width: 220px; height: 110px;"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->
			</div>

			<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--height-fluid">
					<div class="kt-portlet__head  kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">Pending Orders</h3>
						</div>
						<div class="kt-portlet__head-toolbar">
							<div class="kt-portlet__head-toolbar-wrapper">

							</div>
						</div>
					</div>
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-20">
							<div class="kt-widget-20__title">
								<div class="kt-widget-20__label">17</div>
								<img class="kt-widget-20__bg" src="assets/media/misc/iconbox_bg.png" alt="bg">
							</div>
							<div class="kt-widget-20__data">
								<div class="kt-widget-20__chart">
									<div class="chartjs-size-monitor">
										<div class="chartjs-size-monitor-expand">
											<div class=""></div>
										</div>
										<div class="chartjs-size-monitor-shrink">
											<div class=""></div>
										</div>
									</div>
									<!--Doc: For the chart initialization refer to "widgetTotalOrdersChart" function in "src\theme\app\scripts\custom\dashboard.js" -->
									<canvas id="kt_widget_total_orders_chart" width="220" height="110"
										class="chartjs-render-monitor"
										style="display: block; width: 220px; height: 110px;"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->
			</div>

			<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--height-fluid">
					<div class="kt-portlet__head  kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">Total Users</h3>
						</div>
						<div class="kt-portlet__head-toolbar">
							<div class="kt-portlet__head-toolbar-wrapper">

							</div>
						</div>
					</div>
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-20">
							<div class="kt-widget-20__title">
								<div class="kt-widget-20__label">17M</div>
								<img class="kt-widget-20__bg" src="assets/media/misc/iconbox_bg.png" alt="bg">
							</div>
							<div class="kt-widget-20__data">
								<div class="kt-widget-20__chart">
									<div class="chartjs-size-monitor">
										<div class="chartjs-size-monitor-expand">
											<div class=""></div>
										</div>
										<div class="chartjs-size-monitor-shrink">
											<div class=""></div>
										</div>
									</div>
									<!--Doc: For the chart initialization refer to "widgetTotalOrdersChart" function in "src\theme\app\scripts\custom\dashboard.js" -->
									<canvas id="kt_widget_total_orders_chart" width="220" height="110"
										class="chartjs-render-monitor"
										style="display: block; width: 220px; height: 110px;"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->
			</div>

			{{!--  --}}

			<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--height-fluid">
					<div class="kt-portlet__head  kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">Total Code Generated</h3>
						</div>
						<div class="kt-portlet__head-toolbar">
							<div class="kt-portlet__head-toolbar-wrapper">

							</div>
						</div>
					</div>
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-20">
							<div class="kt-widget-20__title">
								<div class="kt-widget-20__label">175</div>
								<img class="kt-widget-20__bg" src="assets/media/misc/iconbox_bg.png" alt="bg">
							</div>
							<div class="kt-widget-20__data">
								<div class="kt-widget-20__chart">
									<div class="chartjs-size-monitor">
										<div class="chartjs-size-monitor-expand">
											<div class=""></div>
										</div>
										<div class="chartjs-size-monitor-shrink">
											<div class=""></div>
										</div>
									</div>
									<!--Doc: For the chart initialization refer to "widgetTotalOrdersChart" function in "src\theme\app\scripts\custom\dashboard.js" -->
									<canvas id="kt_widget_total_orders_chart" width="220" height="110"
										class="chartjs-render-monitor"
										style="display: block; width: 220px; height: 110px;"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end::Portlet-->
			</div>


		</div>
		<!--end::Row-->
		<!--end::Dashboard 1-->
	</div>

	<input type="hidden" name="_csrf" id="_csrf" value="{{csrf}}">
</div>
<script src="/dist/js/user/store.js"></script>