<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Transactions</h3>

            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon-shopping-basket"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Dashboards </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Transactions</a>
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>

        </div>
    </div>

    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <span id="spinner" class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </span>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-group">
                                <a href="#" class="btn btn-default btn-bold btn-upper btn-font-sm">
                                    <i class="flaticon-download"></i>
                                    Save to PDF
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="kt-portlet__body">
                        <div class="kt-portlet__content">

                            <table class="table table-striped- table-bordered table-hover" id="transactionTbl">
                                <thead>
                                    <tr class="">
                                        <th>S/N</th>
                                        <th>Reference</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Payment Type</th>
                                        <th>User</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="row align-items-center">
                            <div class="col-lg-6">

                            </div>
                            <div class="col-lg-6 kt-align-right">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}">

    {{!-- Wallet Modal --}}
    <div class="modal fade show" id="walletModal" tabindex="-1" role="dialog" aria-labelledby="walletModalLabel"
        aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="walletModalLabel">User Wallet ID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">

                </div>
            </div>
        </div>
    </div>

    {{!-- Status Modal --}}
    <div class="modal fade show" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
        aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statusModalLabel">Loading...</h5>
                </div>
                <div class="modal-body" id="modalBody">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
{{!-- <script src="/js/admin/transaction.js"></script> --}}
<script src="/dist/js/admin/transaction.js"></script>