<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Dashboard</h3>

            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Dashboards </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Navy Aside </a>
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>

        </div>
    </div>

    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt-content">
        <div class="row">
            <div class="col-md-12">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">Card Decks</h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-section">
                            <div class="kt-section__info">
                                Need a set of equal width and height cards that aren’t attached to one another? Use card
                                decks.
                            </div>
                            <div class="kt-section__content kt-section__content--border">
                                <div class="card-deck">
                                    <div class="card">
                                        <div class="kt-bg-metal w-100 kt-padding-t-40 kt-padding-b-40"></div>
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content.</p>
                                        </div>
                                        <div class="card-footer"><small>Last updated 3 mins ago</small></div>
                                    </div>
                                    <div class="card">
                                        <div class="kt-bg-metal w-100 kt-padding-t-40 kt-padding-b-40"></div>
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This card has supporting text below as a natural
                                                lead-in to additional content.</p>
                                        </div>
                                        <div class="card-footer"><small>Last updated 3 mins ago</small></div>
                                    </div>
                                    <div class="card">
                                        <div class="kt-bg-metal w-100 kt-padding-t-40 kt-padding-b-40"></div>
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural lead-in to additional content.</p>
                                        </div>
                                        <div class="card-footer"><small>Last updated 3 mins ago</small></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="_csrf" id="_csrf" value="{{csrf}}">
</div>
<script src="/js/user/store.js"></script>